## {{data.title}}

{{#each data.children}}

### {{this.name}}
<div style="margin-left: 10px;">

{{#each this.signatures}}
• **{{this.name}}**({{#if this.parameters}}`{{#eachArg this.parameters}}{{/eachArg}}`{{/if}})

#### Parameters

| Name | Type |
| :------ | :------ |
{{#each this.parameters}}
| `{{this.name}}` | `{{this.type.name}}` |
{{/each}}
{{/each}}
</div>

##### Defined in &nbsp;{{#each this.sources}}   [{{this.fileName}}:{{this.line}}](https://github.com/cocos-creator/engine/blob/c7bf6b8a9/{{this.fileName}}#L{{this.line}})&nbsp;{{/each }}

{{/each}}

---

